<!DOCTYPE html>
<html>
    <head>
        <title>Movie Recommender</title>

    </head>
    <body>
        <h1>Top 10 Movies From ALS:</h1>
        <table>
            <thead>
                <tr>
                  <th>Movie ID</th>
                  <th>Title</th>
                  <th>Year of Release</th>
                </tr>
            </thead>
            <tbody>
                {% for tup in keys %}
                    <tr>
                        <td> {{ tup[0] }} </td>
                        <td> {{ tup[1] }} </td>
                        <td> {{ tup[2] }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action="http://127.0.0.1:5000/">
            <button type="submit">Back</button>
         </form>
    </body>
</html>